* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(34, 82, 177);
}

#title {
  margin-top: 2vmin;
  text-align: center;
}

.game-display {
  width: 700px;
  background: white;
  border-radius: 15px;
}

#starting {
  margin-top: 3vmin;
  margin-left: 5vmin;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 5vmin;
  max-width: 40%;
}

.box {
  display: flex;
  justify-content: space-between;
}

.keyboard {
  padding: 2vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 33%;
  margin-bottom: 1vmin;
}

.keyboard button {
  width: 3vmin;
  height: 3.5vmin;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.stats {
  display: grid;
  align-items: normal;
  margin-bottom: 4vmin;
}

.word-display {
  display: flex;
  gap: 5vmin;
  padding: 5px;
  margin: 5vmin;
  list-style: none;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.word-display .letter {
  width: 3vmin;
  border-bottom: 0.5vmin solid black;
  text-transform: uppercase;
}