* {
  margin: 1vh;
  background-color: rgb(34, 82, 177);
  font-family: "Love ya Like a Sister";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}
#start {
  background-color: white;
  color: black;
  width: 100px;
  height: 50px;
  border: black;
  font-size: large;
  border-radius: 15px;
  cursor: pointer;
}
.title {
  padding: 20px;
  color: rgb(0, 0, 0);
  border: black;
  border-style: dotted;
  border-radius: 15px;
}
